@charset "UTF-8";

/* Balise Principal */
body {
	background-color: #121212 !important;
	color: white !important;
}
/* Carte d'aperçu des article sur la page d'accueil */
.card {
	background-color: #1E1E1E;
	height: 200px;
	width: 320px;
	border: 1px solid white !important;
}
.card:hover{
	border: 1px solid #EE5253 !important;
}

.card-title {
	color: #EE5253;
	transition: 250ms;
}

.btnLinkCard {
	background-color: #EE5253;
	color: white;
}
.btnLinkCard:hover{
	border: 1px solid white;
	color: white;
	transition: 250ms;
}

.btnRecherche {
	height: 60px;
	margin-left: 45px;
	font-size: 1.2em;
}
.btnRecherche:hover{
	border: 1px solid white;
	transition: 500ms;
}
/* Header et Footer */
header {
	width: 100% !important;
	height: 64px;
	background-color: #2D2D2D;
	color: white;
	border-bottom: 5px outset white;
}
h1{
	color: #CECECE;
}
.ahead:hover{
	color: #EE5253;
}
h2{
	color: #F7931E;
}
.divHeader{
	padding-top: 10px;
}

footer {
	background-color: #272727;
}

a {
	text-decoration: none !important;
	color: white;
}

.card a.name {
	color: #F7931E;
}
.colorGrey{
	color: #CECECE;
}